 * {
border: 1px solid red;
} 

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}
/* ~~~~~NAV SECTION */
.main-nav-wrapper {
    width: 100%;
    height: 10%;
}

.nav-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ~~~~UPPER NAV CONTAINER */

#upper-nav-container {
    display: flex;
    justify-content: flex-end;
}

.user-account-box {
    width: 20%;
    height: 35%; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* ~~~~LOWER NAV CONTAINER */

#lower-nav-container {
    display: flex;
    align-items: center;
}

.nav-buttons-box {
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav-button {
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.company-logo-box {
    width: 20%;
    height: 100%;
}

.company-logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.brand-text {
    margin: 0;
    width: 80%;
    height: 90%;
}


/* ~~~~~MAIN SECTION */

.main {
 width: 100%;
 height: 100%;
}

.main-header {
    display: flex;
    justify-self: flex-start
}

.cards-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.card-container {
    width:98%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.user-card {
    width: 20%;
    height: 70%;
    margin: 15px;
}

/* ~~~~~~ USER CARD ~~~~~~ */

.user-image {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.arrow-image {
    width: 20%;
    height: 20%;
    display: flex;

}

.views-box {
    width: 20%;
    height: 20%;
}

.user-card-data {
    width: 100;
    height: 70%;
}